<header>
  <div style="float:left"><%= [@accession.id_0, @accession.id_1, @accession.id_2, @accession.id_3].compact.join('-') %></div>
  <div style="float:right"><%= 'FIXME' %></div>
</header>

<div class="clearfix"></div>

<% def render_print_item(label, value) %>
  <%# next unless value  %>
  <div><strong><%= label %></strong> <span><%= value %></span></div>
<% end %>

<%
  basic_information_fields = [
    ['title'],
    ['identifier', proc { [@accession.id_0, @accession.id_1, @accession.id_2, @accession.id_3].compact.join('-') }],
    ['accession_date'],
    ['content_description'],
    ['content_description'],
    ['condition_description'],
    ['inventory'],
    ['provenance'],
    ['retention_rule'],
    ['general_note'],
    ['acquisition_type', proc {@accession.acquisition_type ? I18n.t("enumerations.accession_acquisition_type.#{@accession.acquisition_type}", :default => @accession.acquisition_type) : nil}],
    ['restrictions_apply', proc {@accession.restrictions_apply.to_s.capitalize}],
    ['access_restrictions_note'],
    ['use_restrictions', proc {@accession.use_restrictions.to_s.capitalize}],
    ['access_restrictions_note'],
    ['Restriction Review Date (accessions only)', proc {'FIXME'}],
    ['Call Number (accessions only)', proc {'FIXME'}],
    ['Authorization Received (accessions only)', proc {'FIXME'}],
    ['Record Reviewed (accessions only)', proc {'FIXME'}],
    ['Accession Completed Date (accessions only)', proc {'FIXME'}],
    ['Voyager Bib ID', proc {'FIXME'}],
  ]

  collection_management_fields = [
    ['processing_priority', proc {|collection_management| collection_management['processing_priority'] ? I18n.t("enumerations.collection_management_processing_priority.#{collection_management['processing_priority']}", :default => collection_management['processing_priority']) : nil}],
    ['processors'],
    ['processing_plan'],
  ]

  extent_fields = [
    ['container_summary'],
    ['physical_details'],
    ['dimensions'],
  ]
%>

<div style="display: flex;flex-direction: column;flex-wrap: wrap;">
  <div><strong>BASIC INFORMATION</strong></div>
  <% basic_information_fields.each do |field, value_proc| %>
    <% render_print_item(I18n.t("accession.#{field}", :default => field), value_proc ? value_proc.call : @accession[field]) %>
  <% end %>

  <% if @accession.collection_management %>
    <div><strong>COLLECTION MANAGEMENT</strong></div>
    <% collection_management_fields.each do |field, value_proc| %>
      <% render_print_item(I18n.t("collection_management.#{field}", :default => field), value_proc ? value_proc.call(@accession.collection_management) : @accession.collection_management[field]) %>
    <% end %>
  <% end %>

  <% unless @accession.dates.empty? %>
    <div><strong>DATES</strong></div>
    <% @accession.dates.each do |date| %>
      <div>
        <% if date['expression'] %><%= date['expression'] %>, <% end %>
        <%= [date['begin'], date['end']].compact.join(' - ') %> (<%= I18n.t("enumerations.date_label.#{date['label']}", :default => date['label']) %>, <%= I18n.t("enumerations.date_type.#{date['date_type']}", :default => date['date_type']) %>)
      </div>
<% end %>
  <% end %>

  <% unless @accession.extents.empty? %>
    <div><strong>EXTENTS</strong></div>
    <% @accession.extents.each do |extent| %>
      <div>
        <div><%= I18n.t("enumerations.extent_portion.#{extent['portion']}") %> <%= extent['number'] %> <%= I18n.t("enumerations.extent_extent_type.#{extent['extent_type']}") %></div>
        <% extent_fields.each do |field, value_proc| %>
          <% render_print_item(I18n.t("extent.#{field}", :default => field), value_proc ? value_proc.call(extent) : extent[field]) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% unless @accession.linked_agents.empty? %>
    <div><strong>AGENT LINKS</strong></div>
    <% @accession.linked_agents.each do |linked_agent| %>
      <div>
        <%= linked_agent.dig('_resolved', 'title') %> (<%= [I18n.t("enumerations.linked_agent_role.#{linked_agent['role']}", :default => linked_agent['role']), (linked_agent['relator'] ? I18n.t("enumerations.linked_agent_archival_record_relators.#{linked_agent['relator']}", :default => linked_agent['relator']) : nil)].compact.join(', ') %>)
      </div>
    <% end %>
  <% end %>

</div>

<footer>
  <div style="float:left">FIXME URL GOES HERE</div>
  <div style="float:right">Printed <%= Date.today %></div>
</footer>