<% def render_print_item(label, value) %>
  <% return '' if value.blank? %><div class="print-slip-label-and-value"><span class="print-slip-label"><%= label %></span> <span class="print-slip-value"><%= value %></span></div>
<% end %>

<%
  basic_information_fields = [
      ['title'],
      ['identifier', proc { [@accession.id_0, @accession.id_1, @accession.id_2, @accession.id_3].compact.join('-') }],
      ['accession_date'],
      ['content_description'],
      ['content_description'],
      ['condition_description'],
      ['inventory'],
      ['provenance'],
      ['retention_rule'],
      ['general_note'],
      ['acquisition_type', proc {@accession.acquisition_type ? I18n.t("enumerations.accession_acquisition_type.#{@accession.acquisition_type}", :default => @accession.acquisition_type) : nil}],
      ['restrictions_apply', proc {@accession.restrictions_apply.to_s.capitalize}],
      ['access_restrictions_note'],
      ['use_restrictions', proc {@accession.use_restrictions.to_s.capitalize}],
      ['access_restrictions_note'],
      [I18n.t('accession.user_defined.date_1'), proc { @accession.user_defined ? @accession.user_defined['date_1'] : nil }],
      [I18n.t('accession.user_defined.text_1'), proc { @accession.user_defined ? @accession.user_defined['text_1'] : nil }],
      [I18n.t('accession.user_defined.boolean_1'),
       proc {
         val = @accession.user_defined ? @accession.user_defined['boolean_1'] : nil
         unless val.nil?
           val.to_s.capitalize
         end
       }],
      [I18n.t('accession.user_defined.boolean_2'),
       proc {
         val = @accession.user_defined ? @accession.user_defined['boolean_2'] : nil
         unless val.nil?
           val.to_s.capitalize
         end
       }],
      [I18n.t('accession.user_defined.date_2'), proc { @accession.user_defined ? @accession.user_defined['date_2'] : nil }],
      [I18n.t('accession.user_defined.string_2'), proc { @accession.user_defined ? @accession.user_defined['string_2'] : nil }],
  ]

  collection_management_fields = [
      ['processing_priority', proc {|collection_management| collection_management['processing_priority'] ? I18n.t("enumerations.collection_management_processing_priority.#{collection_management['processing_priority']}", :default => collection_management['processing_priority']) : nil}],
      ['processors'],
      ['processing_plan'],
  ]

  extent_fields = [
      ['container_summary'],
      ['physical_details'],
      ['dimensions'],
  ]

  user_defined_fields = [
      ['string_1'],
      ['string_3'],
      ['string_4'],
      ['text_2'],
      ['text_3'],
      ['text_4'],
      ['text_5'],
      ['enum_1'],
      ['enum_2']
  ]
%>

<header id="header">
  <div style="float:left"><%= [@accession.id_0, @accession.id_1, @accession.id_2, @accession.id_3].compact.join('-') %></div>
  <div style="float:right"><%= @accession.user_defined ? @accession.user_defined['text_1'] : '' %></div>
  <div class="clearfix"></div>
</header>

<table id="report-layout-helper">
  <thead>
      <tr>
        <td>
          <!-- Empty space to allow for fixed header to be always visible -->
          <div class="header-space">&nbsp;</div>
        </td>
      </tr>
    </thead>
  <tbody>
    <tr>
      <td>
        <div id="print-slip-report">
          <section>
            <header>BASIC INFORMATION</header>
            <div>
              <% basic_information_fields.each do |field, value_proc| %>
                <% render_print_item(I18n.t("accession.#{field}", :default => field), value_proc ? value_proc.call : @accession[field]) %>
              <% end %>
            </div>
          </section>

          <% if @accession.collection_management %>
            <section>
              <header>COLLECTION MANAGEMENT</header>
              <div>
                <% collection_management_fields.each do |field, value_proc| %>
                  <% render_print_item(I18n.t("collection_management.#{field}", :default => field), value_proc ? value_proc.call(@accession.collection_management) : @accession.collection_management[field]) %>
                <% end %>
              </div>
            </section>
          <% end %>

          <% unless @accession.dates.empty? %>
            <section>
              <header>DATES</header>
              <div>
                <% @accession.dates.each do |date| %>
                  <div>
                    <% if date['expression'] %><%= date['expression'] %>, <% end %>
                    <%= [date['begin'], date['end']].compact.join(' - ') %> (<%= I18n.t("enumerations.date_label.#{date['label']}", :default => date['label']) %>, <%= I18n.t("enumerations.date_type.#{date['date_type']}", :default => date['date_type']) %>)
                  </div>
                <% end %>
              </div>
            </section>
          <% end %>

          <% unless @accession.extents.empty? %>
            <section>
              <header>EXTENTS</header>
              <div>
                <% @accession.extents.each do |extent| %>
                  <div>
                    <div><%= I18n.t("enumerations.extent_portion.#{extent['portion']}") %> <%= extent['number'] %> <%= I18n.t("enumerations.extent_extent_type.#{extent['extent_type']}") %></div>
                    <% extent_fields.each do |field, value_proc| %>
                      <% render_print_item(I18n.t("extent.#{field}", :default => field), value_proc ? value_proc.call(extent) : extent[field]) %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </section>
          <% end %>

          <% unless @accession.linked_agents.empty? %>
            <section>
              <header>AGENT LINKS</header>
              <div>
                <% @accession.linked_agents.each do |linked_agent| %>
                  <div>
                    <span><%= linked_agent.dig('_resolved', 'title') %> (<%= [I18n.t("enumerations.linked_agent_role.#{linked_agent['role']}", :default => linked_agent['role']), (linked_agent['relator'] ? I18n.t("enumerations.linked_agent_archival_record_relators.#{linked_agent['relator']}", :default => linked_agent['relator']) : nil)].compact.join(', ') %>)</span>
                  </div>
                <% end %>
              </div>
            </section>
          <% end %>

          <% unless @accession.related_resources.empty? %>
            <section>
              <header>RELATED RESOURCES</header>
              <div>
                <% @accession.related_resources.each do |related_resource| %>
                  <div class="print-slip-retain-white-space">
                    <span><%= related_resource.dig('_resolved', 'title') %></span>
                  </div>
                <% end %>
              </div>
            </section>
          <% end %>

          <% unless @accession.related_accessions.empty? %>
            <section>
              <header>RELATED ACCESSIONS</header>
              <div>
                <% @accession.related_accessions.each do |related_accession| %>
                  <div class="print-slip-retain-white-space">
                    <span><%= related_accession.dig('_resolved', 'title') %> (<%= related_accession['jsonmodel_type'] == 'accession_sibling_relationship' ? I18n.t("enumerations.accession_sibling_relator.#{related_accession['relator']}") : I18n.t("enumerations.accession_parts_relator.#{related_accession['relator']}") %>)</span>
                  </div>
                <% end %>
              </div>
            </section>
          <% end %>

          <% unless @accession.subjects.empty? %>
            <section>
              <header>SUBJECTS</header>
              <div>
                <% @accession.subjects.each do |subject| %>
                  <div>
                    <%= subject.dig('_resolved', 'title') %>
                  </div>
                <% end %>
              </div>
            </section>
          <% end %>

          <% unless @accession.deaccessions.empty? %>
            <section>
              <header>DEACCESSIONS</header>
              <div>
                <% @accession.deaccessions.each do |deaccession| %>
                  <div class="print-slip-retain-white-space">
                    <span><%= deaccession['description'] %> (<%= I18n.t("enumerations.deaccession_scope.#{deaccession['scope']}") %>)</span>
                  </div>
                <% end %>
              </div>
            </section>
          <% end %>

          <% if @accession.user_defined %>
            <section>
              <header>USER DEFINED</header>
              <div>
                <% user_defined_fields.each do |field, value_proc| %>
                  <% render_print_item(I18n.t("accession.user_defined.#{field}", :default => field), value_proc ? value_proc.call(@accession.user_defined) : @accession.user_defined[field]) %>
                <% end %>
              </div>
            </section>
          <% end %>

          <% if @accession.material_types %>
            <section>
              <header>MATERIAL TYPES</header>
              <div>
                <%= ["books", "games", "maps", "microforms", "realia", "serials",
                     "audiovisual_materials", "electronic_documents", "manuscripts",
                     "photographs", "works_of_art"]
                    .select{|type| @accession.material_types[type] == true}
                    .collect{|type| I18n.t("plugins.material_type.#{type}")}
                    .join(', ') %>
              </div>
            </section>
          <% end %>

          <% if @accession.payment_summary %>
            <section>
              <header>PAYMENT SUMMARY</header>
              <div>
                <% render_print_item(I18n.t("payment_summary.total_price"), @accession.payment_summary['total_price']) %>
                <% render_print_item(I18n.t("payment_summary.currency"), I18n.t("enumerations.currency_iso_4217.#{@accession.payment_summary['currency']}")) %>
                <% render_print_item(I18n.t("payment_summary.in_lot"), @accession.payment_summary['in_lot'].to_s.capitalize) %>
                <% ASUtils.wrap(@accession.payment_summary['payments']).sort{|a,b| a['payment_date'] <=> b['payment_date']}.each do |payment| %>
                  <div><strong>Payment - <%= payment['payment_date'] %></strong></div>
                  <% render_print_item(I18n.t("payment.invoice_number"), payment['invoice_number']) %>
                  <% render_print_item(I18n.t("payment.amount"), payment['amount']) %>
                  <% render_print_item(I18n.t("payment.fund_code"), I18n.t("enumerations.payment_fund_code.#{payment['fund_code']}", :default => payment['fund_code'])) %>
                  <% render_print_item(I18n.t("payment.usd_amount"), payment['usd_amount']) %>
                  <% render_print_item(I18n.t("payment.authorizer"), payment.dig('authorizer', '_resolved', 'title')) %>
                  <% render_print_item(I18n.t("payment.note"), payment.dig('note')) %>
                <% end %>
              </div>
            </section>
          <% end %>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <!-- Empty space to allow for fixed footer to be always visible -->
        <div class="footer-space">&nbsp;</div>
      </td>
    </tr>
  </tfoot>
</table>

<footer id="footer">
  <div style="float:left"><%= "#{AppConfig[:frontend_proxy_url]}/accessions/#{@accession.id}" %></div>
  <div style="float:right">Printed <%= Date.today.strftime('%-m/%-d/%y') %></div>
  <div class="clearfix"></div>
</footer>